{% extends('GalileoSimpleBetMainBundle:Tournament:view.html.twig') %}

{% block sidebar %}
<div class="well">
<h2>Regulamin:</h2>
<ol id="regulamin">
    <li>
        Użytkownik, który chce wejśc do ligi typerów wpłaca składkę w wysokości <strong>10zł</strong>.
    </li>
    <li>
        Każdy użytkownik <strong>ma prawo </strong> wytypować wyniki <strong>wszystkich </strong> meczy  <strong>{{tournament.name}}</strong>.
    </li>
    <li>
        Typowanie meczu polega na podaniu <strong>dokładnego wyniku </strong> jakim zakończy się spotkanie ( w <strong>regulaminowym</strong> czasie gry, dogrywka się nie liczy).
        Jeśli gracz wytypował wynik <strong> dokładnie </strong> otrzymuje <strong> 3pkt </strong>, natomiast jeśli wytypował jedynie zwycięzcę otrzymuje <strong>1pkt</strong>. Np. gracz na mecz <strong> Polska </strong>- Niemcy podał typ 2:1, jeśli spotkanie zakończy się wynikiem 2:1 gracz otrzymuje 3pkt, jeśli zakończy się wynikiem 2:0 lub też jakimkolwiek innym zwycięstwem Polski (za wyjątkiem 2:1) gracz otrzymuje 1pkt. Jeśli spotkanie zakończy się remisem, bądź wygraną Niemców gracz otrzymuje <strong> 0pkt </strong>.
    </li>
    <li>
        Swoje typy na dany mecz można <strong>dodawać </strong>oraz <strong>zmieniać</strong> na <strong>godzinę przed rozpoczęciem meczu </strong>. Do tego czasu nie można zobaczyć także typów innych graczy. Gdy do meczu pozostanie mniej niż jedna godzina możliwość typowania zostaje zablokowana, a typy <strong>wszystkich</strong> graczy zostają <strong>wyświetlone</strong>.
    </li>
    <li>
        Każdy zarejestrowany użytkownik zoobowiązany jest do przestrzegania regulaminu.
    </li>
    <li>
        Nagrody rozdawane są po rozegraniu ostatniego meczu turnieju (tzn. finału), wygrywa trzech graczy z największą ilością punktów w przypadku gdy dwóch lub więcej graczy posiada identyczną ilość punktów zwycięzcą zostaje gracz z większą liczbą wytypowanych dokładnych wyników.
        Jeśli i tutaj pozostaje identyczny rezultat to gracze dzielą się po równo na ilość graczy.

        Pula: Jest to ilość graczy * składka (10zł).

        Nagrody:
        <ol>
            <li>miejsce - 50% puli</li>
            <li>miejsce - 35% puli</li>
            <li>miejsce - 15% puli</li>
        </ol>

        Przypadki nadzwyczajne
        1 i 2 maja identyczna ilosc punktów i dokładnych wyników
        <ol>
            <li>miejsce - 42.5% puli</li>
            <li>miejsce - 42.5% puli</li>
            <li>miejsce - 15% puli</li>
        </ol>

    </li>
</ol>

</div>
{% endblock %}
